:root {
  --background: #ffffff;
  --text-primary: #000000;
  --text-secondary: #4169e1;
  --border-radius: 4px;
}

/* Set 'data-theme' in this way its easier to create multiple themes */
[data-theme="dark"] {
  --background: #000000;
  --text-primary: #ffffff;
  --text-secondary: #808080;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

html {
  height: 100%;
  color: var(--text-primary);
  background-color: var(--background);
  font-size: 16px;
}

body {
  height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > * {
  background-color: var(--background);
  color: var(--text-primary);
}

body > div {
  height: 100%;
}

.App {
  color: var(--text-primary);
  background-color: var(--background);
  height: 100%;
}

button {
  border: none;
  text-decoration: none;
}

.button-primary {
  border: none;
  text-decoration: none;
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  padding: 5px 10px;
  border-radius: var(--border-radius);
  color: #ffffff;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-secondary);
}

/* Some styles that are resuable */

.default-wrapper {
  max-width: 1170px;
  width: 100%;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-cont-center {
  justify-content: center;
}

.justify-cont-space-bet {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.cursor-pointer {
  cursor: pointer;
}

.ver-pad-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.loading {
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gap-10 {
  gap: 10px;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.bgcolor-black {
  background-color: #000000;
}

.color-white {
  color: #ffffff;
}

.mar-bot-10 {
  margin-bottom: 10px;
}

.mar-bot-20 {
  margin-bottom: 20px;
}

.mar-right-10 {
  margin-right: 10px;
}

.pad-ver-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pad-hor-20 {
  padding-left: 20px;
  padding-right: 20px;
}


/* Header */
.header {
  height: 60px;
  background-color: #3a0c2a;
  display: flex;
  justify-content: center;
}

.navbar > ul {
  gap: 20px;
  list-style: none;
  text-decoration: none;
}

.header a {
  text-decoration: none;
  color: #ffffff;
}