.movies {
    background-color: var(--background);
}

.movies__wrapper {
    gap: 10px 0px;
}

.movie__wrapper {
    flex-basis: 19.5%;
    position: relative;
    height: 280px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.movies__wrapper > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 0px;
}

.poster {
    transition: all 0.3s;
    object-fit: cover;
}

.movie__wrapper:hover > .poster {
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-filter: brightness(0.5);
            filter: brightness(0.5);
}

.movie__wrapper:hover > .movie__title {
    bottom: 0;
    transition: bottom 0.3s;
}

.movie__title {
    position: absolute;
    width: 100%;
    bottom: -50px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media only screen and (max-width: 850px) {
    .movie__wrapper {
        flex-basis: 24.5%;
    }
}

@media only screen and (max-width: 700px) {
    .movie__wrapper {
        flex-basis: 32.5%;
    }
}

@media only screen and (max-width: 550px) {
    .movie__wrapper {
        flex-basis: 49.5%;
    }
}

@media only screen and (max-width: 320px) {
    .movie__wrapper {
        flex-basis: 100%;
    }
}
